.topMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.topBar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #002766;
    width: 100%;
    height: 46px;
}

.navBar {
    display: block;
    position: fixed;
    left: 0;
    top: 46px;
    width: 10%;
    height: 100%;
}

.sideBar {
    display: flex;
    position: absolute;
    left: 0;
    width: fit-content;
    height: 95%;
}

.collapseButton {
    display: block;
    position: absolute;
    transition-delay: 0.0ms;
    bottom: 0;
}

.content {
    display: block;
    position: absolute;
}